
.Detail {
    width: 100%;
    display: flex;
    justify-content:center;
    margin:auto;
}

.DetailImg{
    padding-right: 5%;
    max-width: 640px;
    display: flex;
}

.Detail Img {
    width:  80%;
    height: 80%;
    margin: 0;
    position: relative;
}

.DetailText {
    width:100%;
    margin: 0 5% 0 0;
}

#Warning {
    color:red;
}

select {
    width: 10%;
    font-size: 18px;
    border-radius: 5px;
}

#Add {
    height: 10%;
    width: 30%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    background-color: yellow;
}

#Buy {
    margin-left: 2%;

    height: 10%;
    width: 30%;
    font-size: 18px;
    font-weight: bold;
    border-radius:  5px;
    background-color: orange;
}