<div class="Detail">
    <div class="DetailImg">
        <img src="{{toy.image_url}}" alt="{{toy.name}}">
    </div>

    <div class="DetailText">
        <h2>{{toy.name}}</h2>
        <p>{{category}}</p>
        <hr>
        <h2>&yen;{{toy.price}}</h2>
        <hr>
        <h3>DESCRIPTION</h3>
        <p>{{toy.description}}</p>
        <hr>
        <p id="Warning" *ngIf="noMoreAddInCart">You have exceeded the maximum number of items</p>
        <form [formGroup]="toyform" novalidate>
        <select formControlName="quantity" [disabled]="noMoreAddInCart">
            <option *ngFor="let choice of choices" [value]="choice" [disabled]="IsOverNum(choice)">{{ choice }}</option>
        </select>
        </form>
        <br>
        <button (click)="addToCart()" [routerLink]="['/cart']"  [disabled]="noMoreAddInCart">ADD TO CART</button>

        <!-- <p>入力値:{{toyform.value | json}}</p> -->
    </div>
</div>