

.ToyMenu {
    padding: 40px 0px;
}

.Categories {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

.Toy {
    text-align:left;
    background-color: rgba(250,250,250,.5);
    justify-content: center;
    margin: 5px 5px;
}

.Toy a{
    color:black;
    text-decoration:none;
}

.Toy .Price{
    font-size: 20px;
    font-weight: bold;
    color:red;
}

.Toy img {
    width: 200px;
    height: 225px;
}

.Toy img:hover{
    opacity: 0.6;
}

.Toy:hover{
    background-color: rgba(200,200,200,255) ;
}