<div *ngIf="!IsNonProductList()">
    <!--一覧表示-->
    <table class="CartItemTable">
        <tr>
            <th> </th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th> </th>
        </tr>
        <tr *ngFor="let product of productlist">
            <td><img class="Samnail" src="{{product.toy.image_url}}" alt="{{product.toy.name}}"></td>
            <td><a routerLink="/toy-data/{{product.toy.id}}"><b>{{product.toy.name}}</b></a></td>
            <td><p>&yen;{{product.toy.price}}</p></td>
            <td><p>{{product.quantity}}</p></td>
            <td>
                <button class="WarningBtn" (click)="RemoveFromCart(product)" [routerLink]="['/cart']">REMOVE</button>
            </td>
        </tr>
    </table>

    <table class="SalesMenuTable">
        <tr>
            <td style="font-weight:bold">TOTAL</td>
            <td>&yen;{{totalPrice}}</td>
        </tr>
        <tr>
            <td style="font-weight:bold">TOTAL WITH TAX</td>
            <td>&yen;{{totalPriceWithTax}}</td>
        </tr>
        <tr></tr>
        <tr>
            <td>
                <button class="CheckOutBtn" [routerLink]="['/cart-checkout']">PROCEED TO CHECKOUT</button>
            </td>
            <td>
                <button class="DefaultBtn" [routerLink]="['/toy-list']">CONTINUE SHOPPING</button>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="IsNonProductList()">
    <nav class="HeadingText">
        <h2>There is nothing in cart...</h2>
        <button class="DefaultBtn" [routerLink]="['/toy-list']">Go Shopping</button>
    </nav>
</div>