h2 {
    text-align:center;
}

.Content {
    display:flex;
}

.Prof {
    border: 1px solid gray;
    justify-content: left;
    width: 20%;
    min-height: 70vh;
    padding: 10px;
    font-size: 18px;
    text-align: left;
}

.Operation{
    margin-left: 20px;
    border: 1px solid gray;
    justify-content: center;
    width: 50%;
    font-size: 20px;
    text-align: center;
}