.FormFormat {
    width:70%;
    font-size: 18px;
    border-spacing: 30px 30px;
    justify-content: center;
    margin: auto;
    text-align: left;
    padding: 10px 0px;
}

.FormFormat th {
    width:30%;
}

.FormFormat td{
    table-layout: fixed;
    word-break: break-word;
}