table {
    width:70%;
    font-size: 18px;
    border-spacing: 30px 30px;
    justify-content: center;
    margin: auto;
    text-align: left;
    padding: 10px 0px;
}

table th {
    width:30%;
}

table td{
    table-layout: fixed;
    word-break: break-word;
}

.DefaultBtn, .UpdateBtn {
    font-size: 18px;
    border-radius:  5px;
}
.DefaultBtn {
    color: white;
    background-color: gray;
}
.UpdateBtn {
    background-color: orange;
}