<h3 class="UserSiteSection">CHANGE PASSWORD</h3>
<hr>
<form [formGroup]="passwordForm" novalidate>
    <table border="0">
        <tr>
            <th>CURRENT PASSWORD:</th>
            <td><input type="password" formControlName="current" required></td>
        </tr>
        <tr>
            <th>NEW PASSWORD:</th>
            <td><input type="password" formControlName="new" required></td>
        </tr>
        <tr>
            <th>NEW PASSWORD(CONFIRM):</th>
            <td><input type="password" formControlName="new_reenter" required></td>
        </tr>
        <tr>
            <th><button class="DefaultBtn" (click)="BackTo()">BACK</button></th>
            <td><button class="UpdateBtn" (click)="Confirme()" [routerLink]="['/user']" [disabled]="!CheckInput()" >UPDATE</button></td>
        </tr>
    </table>
</form>