<button id="Back" [routerLink]="['/cart']">Back</button>
<h2>THE CONTENTS OF CART</h2>
<!--一覧表示-->
<table class="CartItemTable">
    <tr>
        <th> </th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
    </tr>

        <tr *ngFor="let product of productlist">
            <td><img class="Samnail" src="{{product.toy.image_url}}" alt="{{product.toy.name}}"></td>
            <td><p>{{product.toy.name}}</p></td>
            <td><p>&yen;{{product.toy.price}}</p></td>
            <td><p>{{product.quantity}}</p></td>
        </tr>
</table>
<table class="SalesMenuTable">
    <tr>
        <td style="font-weight:bold">TOTAL</td>
        <td>&yen;{{totalPrice}}</td>
    </tr>
    <tr>
        <td style="font-weight:bold">TOTAL WITH TAX</td>
        <td>&yen;{{totalPriceWithTax}}</td>
    </tr>
</table>

<h2>ADDRESS</h2>
<p>{{address}}</p>

<h2>PAYMENT METHOD</h2>
<form [formGroup]="paymentForm" novalidate>
    <span *ngFor="let choice of choices">
        <input type="radio" formControlName="paymentMethod" [value]="choice.id">{{ choice.name }}
    </span>
</form>
<br>
<button id="Purchase" (click)="Purchase()" [routerLink]="['/cart']">PURCHASE</button>
<!-- <p>入力値:{{paymentForm.value | json}}</p> -->