#Back {
    font-size: 18px;
    border-radius: 3px;
    background-color: gray;
    color: white;
}

img {
    width: 175px;
    height: 125px;
}

.CartItemTable {
    min-width: 90%;
    justify-content: center;
    margin: auto;
    border-collapse: collapse;
    border-bottom: 1px solid gray;
    text-align: center;
}

.CartItemTable td, .CartItemTable th {
    border-bottom: 1px solid gray;
}

.SalesMenuTable {
    font-size: 18px;
    border-spacing: 5px;
    text-align: left;
    padding-left: 5%;
}

#Purchase {
    width: 10%;
    font-size: 18px;
    font-weight: bold;
    border-radius:  5px;
    background-color: orange;
}